{
    "parser": "@typescript-eslint/parser",
    "extends": ["plugin:@typescript-eslint/recommended"],
    "plugins": ["@typescript-eslint"],
    "parserOptions":  {
        "ecmaVersion":  2018,  // Allows for the parsing of modern ECMAScript features
        "sourceType":  "module"  // Allows for the use of imports
      },
    "rules": {
        "prefer-arrow-callback": "off",
        "semi": [1, "always"],
        "indent": ["error", 4]
    },
    "env": {
        "browser": true
    }
}